.chain-attributes {
  .chain-att-title {
    font-size: 1.5rem;
    font-family: $proxima-nova;
    font-weight: 600;
    position: relative;
    &.rank-title {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0 3rem;
      align-items: center;
      // font-size: 1.3rem !important;
      @media screen and (max-width: 425px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
      .rank-block {
        padding: 0.5rem 1rem !important;
        background-color: rgb(14, 14, 28);
        border-radius: 0.5rem !important;
        border: 0.1rem solid #363641 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 425px) {
          margin-top: 1rem;
          width: 100%;
        }
        img {
          height: 1.5rem;
        }
        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
        }
        .title {
          font-size: 1.3rem;
          font-family: $proxima-nova;
          font-weight: 600;
          text-transform: capitalize;
          margin-right: 0.5rem;
        }
        .rank-value {
          font-size: 1.3rem;
          font-family: $proxima-nova;
          font-weight: 400;
          color: #ebebebcc;
        }
      }
    }

    .title-count {
      font-size: 1rem;
      font-family: $proxima-nova;
      font-weight: 700;
      top: 0;
      width: 0;
      position: absolute;
      margin-left: 0.2rem;
    }
  }

  .chain-att-content {
    display: flex;
    flex-wrap: wrap;
  }
}
