@import "../../styles/common";

.mb-load-1,
.mb-load {
  margin-top: 0.25rem;
  resize: both;
  overflow: auto;
}

.loading-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .load-card {
    display: flex;
    height: 20rem;
    align-items: center;
    justify-content: center;
    // background-color: #050d09;
    width: 20rem;
    // border-radius: 1rem;
    flex-direction: column;
    // border: 0.01rem solid #fdf100;
    // box-shadow: 0rem 0rem 2rem -0.5rem #fdf100;
    .loader {
      position: relative;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: linear-gradient(45deg, transparent 40%, skyblue);
      animation: move 0.8s linear infinite;
    }
    .loader::before {
      position: absolute;
      content: "";
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      background: #0e0e1c !important;
      border-radius: 50%;
      z-index: 2;
    }
    .loader::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(45deg, transparent 40%, skyblue);
      filter: blur(20px);
    }
    @keyframes move {
      to {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
      }
    }
    h6 {
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 15rem;
      margin: 2rem 0;
      font-family: $proxima-nova;
      font-weight: 600;
    }
  }
}
