@import "../../styles/common";

.tooltip-text {
  font-family: $proxima-nova;
  font-weight: 400;

  .tooltip-inner {
    padding: 0.6rem;
    text-align: left;
    box-shadow: 0 2px 4px 0 rgba(233, 228, 228, 0.5);
    max-width: 20rem;
  }
}
