@import "../../styles/common";
.jt-hero-section {
  position: relative;
  // background: #14141d;
  // padding-bottom: 3rem;

  .hero-carousel {
    position: relative;
    margin-top: -7rem;
    // background-color: #1d1c2c;
    .hero-banner-sec {
      min-height: calc(90vh + 10rem);
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: 10rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      background-color: #1d1c2c;
      overflow: hidden;
      @media screen and (max-width: 767px) {
        justify-content: flex-start;
      }
      @media screen and (max-width: 1030px) {
        background-position: top;
        background-size: cover;
        // min-height: calc(90vh + 0rem);
        min-height: 70vh;
        flex-direction: column;
        padding-top: 8rem;
      }

      &.raddx_gift_banner {
        background-position: center right;
        background-size: cover;
        padding-top: 3rem;
        @media screen and (max-width: 991px) {
          background-position: center;
        }

        &.two-column {
          .hero-content-block {
            @media screen and (max-width: 991px) {
              flex-direction: column;
              margin: 0;
              padding: 0;
              width: 100%;
            }
            .hero-content-box {
              // cursor: pointer;
              max-width: calc(100% - 48rem);
              @media screen and (min-width: 1200px) {
                max-width: calc(100% - 52rem);
              }
              @media screen and (min-width: 1440px) {
                max-width: calc(100% - 60rem);
              }
              @media screen and (max-width: 991px) {
                width: 100%;
                max-width: 30rem;
              }
              @media screen and (max-width: 767px) {
                max-width: 25rem;
              }
              @media screen and (max-width: 580px) {
                max-width: 25rem;
              }
              img {
                height: auto;
                width: 80%;
                margin: 1rem auto;

                @media screen and (max-width: 991px) {
                  height: auto;
                  width: 80%;
                  margin: 5rem auto 1rem;
                }
                @media screen and (max-width: 580px) {
                  width: 100%;
                }
              }
            }
            .pp-hero-contet-img {
              cursor: pointer;
              max-width: calc(48rem);

              @media screen and (min-width: 1200px) {
                max-width: calc(52rem);
              }
              @media screen and (min-width: 1440px) {
                max-width: calc(60rem);
              }
              @media screen and (max-width: 991px) {
                width: 100%;
                max-width: 60rem;
                margin-bottom: 3rem;
                img {
                  width: 80%;
                  height: auto;
                  margin-top: -6rem;
                  margin-bottom: 3rem;
                }
              }
              @media screen and (max-width: 580px) {
                width: 100%;
                max-width: 60rem;
                margin-bottom: 3rem;
                padding: 0;
                margin-top: 2rem;
                img {
                  width: 100%;
                  margin-top: -4rem;
                }
              }
            }
          }
        }
      }
      &.no-before {
        &:before {
          content: none;
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        // background: linear-gradient(86deg, black 15%, #00000038 85%);
        background: linear-gradient(
          86deg,
          black 30%,
          rgba(0, 0, 0, 0.2196078431) 123%
        );
        width: 100%;
        z-index: 1;
        @media screen and (max-width: 1030px) {
          // background: linear-gradient(
          //   0deg,
          //   black 30%,
          //   rgba(0, 0, 0, 0.2196078431) 123%
          // );
          background: linear-gradient(
            0deg,
            black 35%,
            rgba(0, 0, 0, 0.2196078431) 140%
          );
        }
      }
      .image-fixed {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
      .video-fixed {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
        @media screen and (max-width: 1030px) {
          position: static;
          min-width: unset;
          min-height: unset;
          width: 100%;
        }
      }
      &.updated-video-sec {
        @media screen and (max-width: 1030px) {
          background-color: #000;
        }
        &::before {
          background: linear-gradient(86deg, #0000008c 30%, #00000000 123%);
          @media screen and (max-width: 1030px) {
            background: linear-gradient(360deg, #0000008c 30%, #00000000 123%);
          }
        }
        .video-fixed {
          max-width: 100%;
        }

        .hero-content-block {
          @media screen and (max-width: 1030px) {
            min-height: unset;
            margin-top: -12rem;
          }
          @media screen and (max-width: 800px) {
            min-height: unset;
            margin-top: -4rem;
          }
        }
      }

      .hero-content-block {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        z-index: 2;
        width: 100%;
        min-height: calc(100vh - 20rem);
        padding: 0 2rem;
        margin-bottom: 5rem;
        @media screen and (min-width: 1200px) {
          padding: 0 6rem !important;
        }
        @media screen and (max-width: 800px) {
          // min-height: calc(100vh - 40rem);
          min-height: unset;
          margin-top: -5rem;
        }
        @media screen and (min-width: 801px) and (max-width: 1030px) {
          // min-height: calc(100vh - 40rem);
          min-height: unset;
          margin-top: -15rem;
        }
        &.no-padd {
          padding: 0 !important;
        }
        .hero-logo-image {
          height: auto;
          width: auto;
          margin-bottom: 1rem;
        }
        .hero-content-img {
          // max-width: 60rem;
          width: 100%;
          height: auto;
          margin-bottom: 2rem;

          @media screen and (max-width: 1030px) {
            width: 100%;
            margin: 2rem auto;
          }
        }
        h3 {
          font-size: 3rem;
          max-width: 70rem;
          line-height: 1.1;
          // color: #19fdff;
          border-radius: 50rem;
          text-align: left;
          font-family: $nunito-sans;
          margin-bottom: 2rem;
          span {
            font-family: $nunito-sans;
            color: #fff;
          }
          @media screen and (max-width: 1030px) {
            font-size: 4.5rem;
          }
        }
        h1 {
          font-size: 3rem;
          max-width: 70rem;
          line-height: 1.1;
          color: #19fdff;
          border-radius: 50rem;
          text-align: left;
          font-family: $nunito-sans;
          margin-bottom: 2rem;
          span {
            font-family: $nunito-sans;
            color: #fff;
          }
          @media screen and (max-width: 1030px) {
            font-size: 4.5rem;
          }
        }
        .hero-content-box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          max-width: 46rem;
          width: 100%;
          text-align: left;
          position: relative;
          .hero-contet-box-img {
            // width: 38vw;
            // height: auto;
            width: calc(100% - 8rem);
            height: auto;
            @media screen and (max-width: 1030px) {
              // display: none;
            }
          }

          h4 {
            color: #ef9e5e;
            font-size: 2rem;

            margin-bottom: 1rem;
          }
          .hero-main-heading {
            font-size: 3.3rem;
            line-height: 1.15;
            margin-bottom: 2rem;
            font-family: $nunito-sans;
            color: #ffffff;
            &.fusor-banner-heading {
              font-size: 2.8rem;
              text-transform: uppercase;
            }
            &:first-child {
              margin-bottom: 1rem;
            }
            span {
              color: #ee9a5b;
            }
            @media screen and (max-width: 1030px) {
              font-size: 2.4rem;
            }
            @media screen and (max-width: 425px) {
              font-size: 2rem;
            }
          }
          .hero-main-heading-contest {
            font-size: 2rem;
            line-height: 1.15;
            margin-bottom: 2rem;
            font-family: $nunito-sans;
            color: #ffffff;
            &:first-child {
              margin-bottom: 1rem;
            }
            span {
              color: #ee9a5b;
            }
            @media screen and (max-width: 1030px) {
              font-size: 1.5rem;
            }
            @media screen and (max-width: 425px) {
              font-size: 1.5rem;
            }
          }
          .hero-desc {
            font-size: 1.2rem;
            text-align: center;
            color: #ebebebcc;
            font-weight: 400;
            text-align: left;
            padding-bottom: 2rem;
            @media screen and (max-width: 425px) {
              // margin-bottom: 8rem;
              font-size: 1rem;
              padding-bottom: 1rem;
            }
          }
          .hero-desc_h5 {
            font-size: 1.6rem;
            line-height: 1.4;
            text-align: center;
            color: #ebebebcc;
            font-weight: 400;
            text-align: left;
            max-width: 45rem;
            margin-bottom: 0.5rem;
            @media screen and (max-width: 425px) {
              // margin-bottom: 8rem;
              font-size: 1.3rem;
            }
          }
          .hero-form-block {
            width: 100%;
            max-width: 30rem;
            .input-group {
              .form-control {
                background: #333133;
                border: 0.05rem solid #555555;
                color: #fff;
                height: 3.5rem;
                font-size: 1.3rem !important;
                &:focus {
                  color: #ffffff;
                  background-color: #333133;
                  border-color: #555555;
                  outline: 0;
                  box-shadow: none !important;
                }
              }
              .input-group-text {
                width: 4rem;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background: transparent
                  linear-gradient(180deg, #ef9e5e 0%, #ec7c49 100%) 0% 0%
                  no-repeat padding-box;
                border: none;
              }
            }
          }
          .hero-btn-block {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 2rem;
            width: 100%;
            margin-bottom: 1.5rem;
            // position: absolute;
            // top: 13rem;

            img {
              max-width: 20rem;
              width: 100%;
            }

            .theme-btn {
              color: #fff;
              display: block;
              margin: 0 !important;
              padding: 0.8rem 1.5rem;
              transition: 0.3s;
              position: relative;
              text-transform: capitalize;
              font-size: 1.2rem;
              background: transparent
                linear-gradient(85deg, #ef9f5e 0%, #ec7c49 100%) 0% 0% no-repeat
                padding-box;
              border: solid 1px transparent;
              border-radius: 50rem;
              font-family: $proxima-nova;
              font-weight: 600;
              width: 15rem;
              // padding: 0.5rem 1.5rem;
              @media screen and (max-width: 1030px) {
                width: 100%;
                white-space: nowrap;
                padding: 0.5rem 1.5rem;
                font-size: 1rem;
                max-width: 14.5rem;
              }
              &:hover,
              &:focus,
              &:active {
                border: solid 1px #ec7c49;
                background: transparent;
                color: #ec7c49 !important;
              }
              &#drop_outer {
                padding: 0.4rem 1.5rem;
                margin-right: 0.3rem;
                border: solid 1px transparent !important;
                &:hover,
                &:focus,
                &:active {
                  border: solid 1px #ec7c49 !important;
                  background: transparent;
                  color: #ec7c49 !important;
                }
              }
              &.rounded-bordered {
                background: transparent !important;
                border: 0.1rem solid #ec7c49 !important;
                span {
                  color: #ec7c49 !important;
                }
                &:hover,
                &:focus,
                &:active {
                  border: solid 1px transparent;
                  background: transparent
                    linear-gradient(85deg, #ef9f5e 0%, #ec7c49 100%) 0% 0%
                    no-repeat padding-box !important;
                  span {
                    color: #ffffff !important;
                  }
                }
                &.icon-btn {
                  height: 2.3rem;
                  width: 2.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  svg {
                    height: 1.2rem;
                    width: 1.2rem;
                    color: #ec7c49;
                  }
                  &:hover,
                  &:focus,
                  &:active {
                    svg {
                      color: #ffffff;
                    }
                  }
                }
              }

              &:disabled {
                background: #ec7c49;
                color: #ffffff;
                border: none;
                opacity: 0.6;
              }
              span {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              &.link-btn {
                border: solid 1px transparent;
                background: transparent;
                color: #fff;
                svg {
                  color: #ef9e5e !important;
                  font-size: 1.3rem;
                  margin-right: 0.5rem;
                }

                &.view-btn {
                  padding: 0;
                  width: auto;
                  text-decoration: underline;
                  color: #ef9e5e;
                  span {
                    color: #ef9e5e !important;
                  }
                }
              }
              &.mr-1 {
                margin-right: 1rem !important;
              }
            }
            @media screen and (max-width: 375px) {
              flex-direction: column;
              align-items: flex-start;
              .theme-btn {
                margin-bottom: 1rem !important;
              }
            }
          }

          .hero-data-count-list {
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin: 1rem 0 3rem;
            width: 100%;
            list-style: none;
            @media screen and (max-width: 1030px) {
              flex-wrap: wrap;
              margin: 0;
            }

            .hero-data-count-item {
              padding: 0 0.5rem 0 1.5rem;
              border-left: 1px solid #44414a;
              @media screen and (max-width: 1030px) {
                // width: 50%;
                padding: 0 0.5rem 0 0.5rem;
                margin: 1rem 0;
              }
              &:nth-child(1) {
                border-left: none;
                padding-left: 0;
              }
              .hero-data-count-value {
                color: #ddd;
                font-weight: 600;
                margin: 0 0 0.5rem;
                font-size: 2rem;
                max-width: 70rem;
                line-height: 1.1;
                font-family: $nunito-sans;
                display: block;
              }
              .hero-data-count-title {
                color: #ebebeb80;
                font-weight: 400;
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 0.5rem;
                line-height: 1.2;
                display: block;
              }
            }
          }
          .hero-contet-box-bg {
            position: absolute;
            height: 60rem;
            width: 65rem;
            z-index: -1;
            top: -15rem;
            left: -20rem;
            opacity: 0.3;
            @media screen and (max-width: 1030px) {
              display: none;
            }
          }
        }
        // .hero-desc {
        //   font-size: 0.9rem;
        //   text-align: left;
        //   color: #fff;
        //   margin-bottom: 3rem;
        //   font-family: $proxima-nova;
        // font-weight: 600;
        // }
      }
      .hero-content-block {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        z-index: 2;
        width: 100%;
        min-height: calc(100vh - 20rem);
        padding: 0 2rem;
        margin-bottom: 5rem;
        @media screen and (min-width: 1200px) {
          padding: 0 6rem !important;
        }
        @media screen and (max-width: 800px) {
          // min-height: calc(100vh - 40rem);
          min-height: unset;
          margin-top: -5rem;
        }
        @media screen and (min-width: 801px) and (max-width: 1030px) {
          // min-height: calc(100vh - 40rem);
          min-height: unset;
          margin-top: -15rem;
        }
        &.no-padd {
          padding: 0 !important;
        }
        .hero-logo-image {
          height: auto;
          width: auto;
          margin-bottom: 1rem;
        }
        .hero-content-img {
          // max-width: 60rem;
          width: 100%;
          height: auto;
          margin-bottom: 2rem;

          @media screen and (max-width: 1030px) {
            width: 100%;
            margin: 2rem auto;
          }
        }
        h3 {
          font-size: 3rem;
          max-width: 70rem;
          line-height: 1.1;
          // color: #19fdff;
          border-radius: 50rem;
          text-align: left;
          font-family: $nunito-sans;
          margin-bottom: 2rem;
          span {
            font-family: $nunito-sans;
            color: #fff;
          }
          @media screen and (max-width: 1030px) {
            font-size: 2.4rem;
          }
        }
        h1 {
          font-size: 3rem;
          max-width: 70rem;
          line-height: 1.1;
          color: #19fdff;
          border-radius: 50rem;
          text-align: left;
          font-family: $nunito-sans;
          margin-bottom: 2rem;
          span {
            font-family: $nunito-sans;
            color: #fff;
          }
          @media screen and (max-width: 1030px) {
            font-size: 4.5rem;
          }
        }
        .hero-content-box {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          max-width: 46rem;
          width: 100%;
          text-align: left;
          position: relative;

          h4 {
            color: #ef9e5e;
            font-size: 2rem;

            margin-bottom: 1rem;
          }
          h1,
          h2 {
            font-size: 3.3rem;
            margin-bottom: 2rem;
            font-family: $nunito-sans;
            color: #ffffff;
            &:first-child {
              margin-bottom: 1rem;
            }
            span {
              color: #ee9a5b;
            }
            &.theme-text-clr {
              color: #ef9e5e;
            }
            @media screen and (max-width: 1030px) {
              font-size: 2.4rem;
            }
            @media screen and (max-width: 425px) {
              font-size: 2rem;
            }
            .sub-heading {
              color: #ef9e5e;
              font-size: 4rem;
              font-weight: 600;
              display: block;
              @media screen and (max-width: 1030px) {
                font-size: 3rem;
                font-size: 2.4rem !important;
              }
              @media screen and (max-width: 425px) {
                font-size: 3rem;
                font-size: 2rem !important;
              }
            }
          }

          .hero-desc {
            font-size: 1.2rem;
            text-align: center;
            color: #ebebebcc;
            font-weight: 400;
            text-align: left;
            padding-bottom: 2rem;
            @media screen and (max-width: 425px) {
              // margin-bottom: 8rem;
              font-size: 1rem;
              padding-bottom: 1rem;
            }
          }
          .hero-desc_h5 {
            font-size: 1.6rem;
            line-height: 1.4;
            text-align: center;
            color: #ebebebcc;
            font-weight: 400;
            text-align: left;
            max-width: 45rem;
            @media screen and (max-width: 425px) {
              // margin-bottom: 8rem;
              font-size: 1.3rem;
            }
          }
          .hero-form-block {
            width: 100%;
            max-width: 30rem;
            .input-group {
              .form-control {
                background: #333133;
                border: 0.05rem solid #555555;
                color: #fff;
                height: 3.5rem;
                font-size: 1.3rem !important;
                &:focus {
                  color: #ffffff;
                  background-color: #333133;
                  border-color: #555555;
                  outline: 0;
                  box-shadow: none !important;
                }
              }
              .input-group-text {
                width: 4rem;
                font-size: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                background: transparent
                  linear-gradient(180deg, #ef9e5e 0%, #ec7c49 100%) 0% 0%
                  no-repeat padding-box;
                border: none;
              }
            }
          }
          .hero-btn-block {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 2rem;
            width: 100%;
            // margin-bottom: 9rem;
            // position: absolute;
            // top: 13rem;
            button {
              &:first-child {
                margin-right: 0.5rem !important;
              }
            }
            img {
              max-width: 20rem;
              width: 100%;
            }

            .theme-btn {
              color: #fff;
              display: block;
              margin: 0 !important;
              padding: 0.8rem 1.5rem;
              transition: 0.3s;
              position: relative;
              text-transform: capitalize;
              font-size: 1.2rem;
              background: transparent
                linear-gradient(85deg, #ef9f5e 0%, #ec7c49 100%) 0% 0% no-repeat
                padding-box;
              border: solid 1px transparent;
              border-radius: 50rem;
              font-family: $proxima-nova;
              font-weight: 600;
              width: 15rem;
              // padding: 0.5rem 1.5rem;
              @media screen and (max-width: 1030px) {
                width: 100%;
                white-space: nowrap;
                padding: 0.5rem 1.5rem;
                font-size: 1rem;
                max-width: 14.5rem;
              }
              &:hover,
              &:focus,
              &:active {
                border: solid 1px #ec7c49;
                background: transparent;
                color: #ec7c49 !important;
              }
              &#drop_outer {
                padding: 0.4rem 1.5rem;
                margin-right: 0.3rem;
                border: solid 1px transparent !important;
                &:hover,
                &:focus,
                &:active {
                  border: solid 1px #ec7c49 !important;
                  background: transparent;
                  color: #ec7c49 !important;
                }
              }
              &.rounded-bordered {
                background: transparent !important;
                border: 0.1rem solid #ec7c49 !important;
                span {
                  color: #ec7c49 !important;
                }
                &:hover,
                &:focus,
                &:active {
                  border: solid 1px transparent;
                  background: transparent
                    linear-gradient(85deg, #ef9f5e 0%, #ec7c49 100%) 0% 0%
                    no-repeat padding-box;
                  span {
                    color: #ffffff !important;
                  }
                }
                &.icon-btn {
                  height: 2.3rem;
                  width: 2.5rem;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  svg {
                    height: 1.2rem;
                    width: 1.2rem;
                    color: #ec7c49;
                  }
                  &:hover,
                  &:focus,
                  &:active {
                    svg {
                      color: #ffffff;
                    }
                  }
                }
              }

              &:disabled {
                background: #ec7c49;
                color: #ffffff !important;
                border: none;
                opacity: 0.6;
              }
              span {
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              &.link-btn {
                border: solid 1px transparent;
                background: transparent;
                color: #fff;
                svg {
                  color: #ef9e5e !important;
                  font-size: 1.3rem;
                  margin-right: 0.5rem;
                }

                &.view-btn {
                  padding: 0;
                  width: auto;
                  text-decoration: underline;
                  color: #ef9e5e;
                  span {
                    color: #ef9e5e !important;
                  }
                }
              }
              &.mr-1 {
                margin-right: 1rem !important;
              }
            }
            @media screen and (max-width: 375px) {
              flex-direction: column;
              align-items: flex-start;
              .theme-btn {
                margin-bottom: 1rem !important;
              }
            }
          }

          .hero-data-count-list {
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin: 1rem 0 3rem;
            width: 100%;
            list-style: none;
            @media screen and (max-width: 1030px) {
              flex-wrap: wrap;
              margin: 0;
            }

            .hero-data-count-item {
              padding: 0 0.5rem 0 1.5rem;
              border-left: 1px solid #44414a;
              @media screen and (max-width: 1030px) {
                // width: 50%;
                padding: 0 0.5rem 0 0.5rem;
                margin: 1rem 0;
              }
              &:nth-child(1) {
                border-left: none;
                padding-left: 0;
              }
              // h3 {
              //   color: #dddddd;
              //   font-weight: 600;
              //   margin: 0 0 0.5rem;
              //   font-size: 2rem;
              // }
              // h6 {
              //   color: #ebebeb80;
              //   font-weight: 400;
              //   font-size: 1rem;
              // }

              .hero-data-count-value {
                color: #ddd;
                font-weight: 600;
                margin: 0 0 0.5rem;
                font-size: 2rem;
                max-width: 70rem;
                line-height: 1.1;
                font-family: $nunito-sans;
                display: block;
              }
              .hero-data-count-title {
                color: #ebebeb80;
                font-weight: 400;
                font-size: 1rem;
                margin-top: 0;
                margin-bottom: 0.5rem;
                line-height: 1.2;
                display: block;
              }
            }
          }
          .hero-contet-box-bg {
            position: absolute;
            height: 60rem;
            width: 65rem;
            z-index: -1;
            top: -15rem;
            left: -20rem;
            opacity: 0.3;
            @media screen and (max-width: 1030px) {
              display: none;
            }
          }
        }
        // .hero-desc {
        //   font-size: 0.9rem;
        //   text-align: left;
        //   color: #fff;
        //   margin-bottom: 3rem;
        //   font-family: $proxima-nova;
        // font-weight: 600;
        // }
      }
      .hero-slide-image {
        width: 80%;
        height: auto;
        @media screen and (max-width: 1030px) {
          width: 100%;
          height: auto;
          max-width: 15rem;
          display: table;
          margin: 0 0 2rem;
        }
      }
      &.two-column {
        background-color: #000000;
        // min-height: auto;
        &:before {
          content: none;
        }
        &.callit-bgImage-banner {
          background-size: cover;
          background-position: top right;
          position: relative;
          @media screen and (max-width: 767px) {
            background-position: 90% 10%;
            background-size: 230% 93%;
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: linear-gradient(
              66deg,
              #000000f2 40%,
              #ffffff00 90%
            );
            @media screen and (max-width: 991px) {
              background-image: linear-gradient(
                2deg,
                rgba(0, 0, 0, 0.9490196078) 15%,
                rgba(255, 255, 255, 0) 76%
              );
            }
          }
          .hero-content-block {
            @media screen and (max-width: 991px) {
              margin-bottom: 0;
              margin-top: 32rem;
            }
          }
        }
        &.mega-pass-bgImage-banner {
          background-size: cover;
          background-position: top right;
          position: relative;
          @media screen and (max-width: 767px) {
            background-position: 100% 10%;
            background-size: 159% 83%;
          }
          @media screen and (max-width: 425px) {
            background-position: 100% 24%;
            background-size: 161% 60%;
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: linear-gradient(
              66deg,
              #000000f2 40%,
              #ffffff00 90%
            );
            @media screen and (max-width: 767px) {
              background-image: linear-gradient(
                2deg,
                rgba(0, 0, 0, 0.9490196078) 15%,
                rgba(255, 255, 255, 0) 76%
              );
            }
          }
          .hero-content-block {
            font-family: $nunito-sans-new;
            h2 {
              font-family: $nunito-sans-new;
              margin-bottom: 1rem;

              font-weight: 900;
              line-height: 1.35;
              color: #fff;
              text-transform: uppercase;
              span {
                font-weight: 600;
                color: #f8f8f8;
                line-height: 1.4;
                font-size: 1.2rem;
                span {
                  margin-left: 0.5rem;
                }
                &.sub-heading {
                  color: #ee9a5b !important;
                  font-weight: 900 !important;
                  font-size: 3.5rem !important;
                  display: block !important;
                  @media screen and (max-width: 767px) {
                    font-size: 2.5rem !important;
                  }
                }
              }
              .small-desc {
                font-size: 2rem;
                font-weight: 900;
                color: #ee9a5b;
                line-height: 1.65;
                display: block;
              }
            }
            .hero-desc_h5 {
              font-size: 1rem;
              color: #a2a2a2;
              line-height: 1.65;
            }
            @media screen and (max-width: 767px) {
              margin-bottom: 0;
              padding: 30rem 0 0;
            }
          }
        }
        &.callitairdrop-bgImage-banner {
          // background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jumptrade/NFT-Rental-Pass-NFT-Collection.webp");
          background-size: cover;
          background-position: center right;
          // background: linear-gradient(103deg, #003450, #7bbbe5);
          background-size: cover;
          background-position: top right;
          background: linear-gradient(103deg, #003450, #7bbbe5);

          position: relative;
          @media screen and (max-width: 992px) {
            background-position: center;
            min-height: calc(90vh + 10rem);
            background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jumptrade/NFT-Rental-Pass-NFT-Collection-Mobile.webp");
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: linear-gradient(
              66deg,
              #000000f2 40%,
              #ffffff00 90%
            );
            @media screen and (max-width: 992px) {
              background-image: linear-gradient(
                2deg,
                rgba(0, 0, 0, 0.9490196078) 15%,
                rgba(255, 255, 255, 0) 76%
              );
            }
          }
          .hero-content-block {
            font-family: $nunito-sans-new;
            @media screen and (max-width: 1030px) {
              margin-top: auto;
            }
            @media screen and (max-width: 520px) {
              padding: 0;
            }

            .hero-content-box {
              display: flex;
              width: 50%;

              @media screen and (max-width: 992px) {
                width: 100%;
                max-width: unset;
              }

              h2 {
                font-family: $nunito-sans-new;
                margin-bottom: 1rem;

                font-weight: 900;
                line-height: 1.35;
                color: #fff;
                text-transform: uppercase;
                span {
                  font-weight: 600;
                  color: #f8f8f8;
                  line-height: 1.4;
                  font-size: 1.2rem;
                  span {
                    margin-left: 0.5rem;
                  }
                  &.sub-heading {
                    color: #ee9a5b;
                    font-weight: 900;
                    font-size: 2.5rem;
                    display: inline-block;

                    @media screen and (max-width: 1030px) {
                      font-size: 3rem;
                      font-size: 2rem;
                    }
                    @media screen and (max-width: 425px) {
                      font-size: 3rem;
                      font-size: 1.8rem;
                    }
                  }
                }
                .small-desc {
                  font-size: 2rem;
                  font-weight: 900;
                  color: #ee9a5b;
                  line-height: 1.65;
                  display: block;
                }
              }
              .hero-desc_h5 {
                font-size: 1rem;
                color: #a2a2a2;
                line-height: 1.65;
              }
            }
            .hero-img-box {
              width: 50%;
              height: auto;
              max-width: 40rem;
              @media screen and (max-width: 767px) {
                // margin-bottom: 0;
                // padding: 30rem 0 0;
                width: 100%;
                max-width: 30rem;
                margin-bottom: 3rem;
              }
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
        &.rentalMCL-bgImage-banner {
          background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jumptrade/NFT-Rental-Pass-NFT-Collection.webp");
          background-size: cover;
          background-position: center right;
          // background: linear-gradient(103deg, #003450, #7bbbe5);
          // background-size: cover;
          // background-position: top right;
          // background: linear-gradient(103deg, #003450, #7bbbe5);

          position: relative;
          @media screen and (max-width: 992px) {
            background-position: center;
            min-height: calc(90vh + 10rem);
            background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jumptrade/NFT-Rental-Pass-NFT-Collection-Mobile.webp");
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            background-image: linear-gradient(
              66deg,
              #000000f2 40%,
              #ffffff00 90%
            );
            @media screen and (max-width: 992px) {
              background-image: linear-gradient(
                2deg,
                rgba(0, 0, 0, 0.9490196078) 15%,
                rgba(255, 255, 255, 0) 76%
              );
            }
          }
          .hero-content-block {
            font-family: $nunito-sans-new;
            @media screen and (max-width: 1030px) {
              margin-top: auto;
            }
            @media screen and (max-width: 520px) {
              padding: 0;
            }

            .hero-content-box {
              display: flex;
              width: 50%;

              @media screen and (max-width: 992px) {
                width: 100%;
                max-width: unset;
              }

              h2 {
                font-family: $nunito-sans-new;
                margin-bottom: 1rem;

                font-weight: 900;
                line-height: 1.35;
                color: #fff;
                text-transform: uppercase;
                span {
                  font-weight: 600;
                  color: #f8f8f8;
                  line-height: 1.4;
                  font-size: 1.2rem;
                  span {
                    margin-left: 0.5rem;
                  }
                  &.sub-heading {
                    color: #ee9a5b;
                    font-weight: 900;
                    font-size: 3.5rem;
                    display: inline-block;

                    @media screen and (max-width: 1030px) {
                      font-size: 3rem;
                      font-size: 2.4rem;
                    }
                    @media screen and (max-width: 425px) {
                      font-size: 3rem;
                      font-size: 2rem;
                    }
                  }
                }
                .small-desc {
                  font-size: 2rem;
                  font-weight: 900;
                  color: #ee9a5b;
                  line-height: 1.65;
                  display: block;
                }
              }
              .hero-desc_h5 {
                font-size: 1rem;
                color: #a2a2a2;
                line-height: 1.65;
              }
            }
            .hero-img-box {
              width: 50%;
              height: auto;
              max-width: 40rem;
              @media screen and (max-width: 767px) {
                // margin-bottom: 0;
                // padding: 30rem 0 0;
                width: 100%;
                max-width: 30rem;
                margin-bottom: 3rem;
              }
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }
        .hero-content-block {
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          margin-top: 0;
          @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
          }
          .hero-content-box {
            max-width: 55%;
            padding-right: 1rem;
            position: relative;
            @media screen and (max-width: 767px) {
              max-width: 100%;
              align-items: flex-start;
              text-align: left;
              padding: 0 1rem;
              h1 {
                text-align: left;
                line-height: 1.3;
              }
              .hero-btn-block {
                align-items: flex-start;
                justify-content: flex-start;
              }
              .hero-desc_h5 {
                font-size: 1.2rem;
                line-height: 1.4;
                text-align: left;
                max-width: 40rem;
              }
            }
          }
          .hero-contet-img {
            width: 45%;
            @media screen and (max-width: 767px) {
              width: 100%;
              max-width: 40rem;
            }
            img {
              width: 100%;
              height: auto;
            }
          }
          .pp-hero-contet-img {
            width: 100%;
            max-width: 48rem;
            position: relative;
            @media screen and (max-width: 767px) {
              padding: 2rem;
              max-width: 28rem;
            }
            img {
              width: 100%;
              height: auto;
            }
            .banner-timer-title {
              position: absolute;
              right: 0;
              left: 0;
              bottom: 1rem;
              background: #ffffff47;
              display: table;
              margin: auto;
              padding: 0.8rem 2rem;
              border-radius: 50rem;
              font-size: 1rem;
            }
          }
        }

        &.fusor-banner {
          background-color: #1a101d;
          .hero-content-block .pp-hero-contet-img {
            width: 100%;
            max-width: 38rem;
            position: relative;
            margin: auto;
          }
        }
        &.raddx-banner {
          justify-content: flex-start;
          flex-direction: column;
          padding-top: 2rem;
          background-color: #070620 !important;
          cursor: pointer;
          .hero-contet-box-bg {
            height: auto;
            width: 100%;
          }
          .theme-btn {
            color: #fff;
            display: block;
            margin: 0 !important;
            padding: 0.8rem 1.5rem;
            transition: 0.3s;
            position: relative;
            text-transform: capitalize;
            font-size: 1.2rem;
            background: transparent
              linear-gradient(85deg, #ef9f5e 0%, #ec7c49 100%) 0% 0% no-repeat
              padding-box;
            border: solid 1px transparent;
            border-radius: 50rem;
            font-family: $proxima-nova;
            font-weight: 600;
            width: 15rem;
            position: absolute;
            bottom: 3rem;
            // padding: 0.5rem 1.5rem;
            @media screen and (max-width: 1030px) {
              width: 100%;
              white-space: nowrap;
              padding: 0.5rem 1.5rem;
              font-size: 1rem;
              max-width: 14.5rem;
            }
            &:hover,
            &:focus,
            &:active {
              border: solid 1px #ec7c49;
              background: transparent;
              color: #ec7c49 !important;
            }

            &:disabled {
              background: #ec7c49;
              color: #ffffff;
              border: none;
              opacity: 0.6;
            }
            span {
              position: relative;
              z-index: 2;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            &.link-btn {
              border: solid 1px transparent;
              background: transparent;
              color: #fff;
              svg {
                color: #ef9e5e !important;
                font-size: 1.3rem;
                margin-right: 0.5rem;
              }

              &.view-btn {
                padding: 0;
                width: auto;
                text-decoration: underline;
                color: #ef9e5e;
                span {
                  color: #ef9e5e !important;
                }
              }
            }
            &.mr-1 {
              margin-right: 1rem !important;
            }
          }
          @media screen and (max-width: 375px) {
            flex-direction: column;
            align-items: flex-start;
            .theme-btn {
              margin-bottom: 1rem !important;
            }
          }
        }
      }
      &.hero-banner-image {
        justify-content: flex-start !important;
        &:before {
          content: unset;
        }
        .hero-content-block {
          @media screen and (max-width: 1030px) {
            min-height: unset;
            margin-top: -5rem;
            background: #000;
            padding-bottom: 4rem;
          }
          @media screen and (max-width: 768px) {
            margin-top: 0rem;
          }
        }

        .car-raddx-sec {
          position: absolute;
          inset: 0 0 0 0;
          object-fit: cover;
          width: 100%;
          height: 100%;
          @media screen and (max-width: 1030px) {
            position: static;
            height: auto;
          }
        }
      }
    }
  }
  .carousel-btn-block {
    position: absolute;
    bottom: 0;
    background: black;
    padding: 1.2rem 1rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid transparent;
    // border: 0.1rem solid #EF9E5E;
    margin-left: auto;
    box-shadow: 0px -0.1rem 0.3rem 0rem #ef9e5e;
    background: #000;
    margin: auto;
    border-radius: 6rem 6rem 0 0;
    width: 100%;
    max-width: 15rem;
    z-index: 1;
    button.swiper-prev,
    button.swiper-next {
      background: transparent;
      border: none;
      // padding: 0 1rem;
      // max-width: 2rem;
      padding: 0 1rem;
      max-width: 10rem;
      img.arrowIcon {
        vertical-align: middle !important;
        height: 1.6rem !important;
        width: auto;
      }
      &.disabled {
        opacity: 0.4;
      }
    }
  }
  .live-text-title {
    font-size: 8rem !important;
    @media screen and (max-width: 1030px) {
      font-size: 4rem !important;
    }
  }
  .live-text {
    font-size: 2rem !important;
    font-family: $proxima-nova;
    font-weight: 600;
    color: #fff !important;
    word-spacing: 1rem;
    margin: 1.5rem 0;
    @media screen and (max-width: 1030px) {
      font-size: 1rem !important;
      margin: 0.5rem 0;
    }
  }

  .live-time {
    font-size: 7rem !important;
    color: #19fdff !important;
    @media screen and (max-width: 1030px) {
      font-size: 2rem !important;
    }
  }
  .live-interval {
    font-size: 4rem !important;
    @media screen and (max-width: 1030px) {
      font-size: 1rem !important;
    }
  }

  .live-gap {
    margin-right: 2rem !important;
  }

  .verifier-hero-carousel {
    .hero-banner-sec {
      min-height: 90vh;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #000;
      overflow: hidden;
      padding: 1rem;
      @media screen and (min-width: 992px) {
        padding: 1rem 3rem;
      }
      .banner-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @media screen and (min-width: 992px) {
          flex-direction: row;
          gap: 2rem;
        }
        .image-content-wrapper {
          width: 100%;
          @media screen and (min-width: 992px) {
            width: 60%;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .content-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
          @media screen and (min-width: 992px) {
            width: 40%;
          }
          .inner-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            max-width: 28rem;
            @media screen and (min-width: 992px) {
              height: 100%;
              justify-content: center;
            }
            h1 {
              margin: 0;
              font-size: 2rem;
              color: #fafafa;
              font-weight: 600;
              line-height: 37px;
            }
            .secial-icon-wrapper {
              display: flex;
              align-items: center;
              gap: 1.5rem;
              svg {
                width: 1.5rem;
                height: 1.5rem;
              }
            }
            p {
              margin: 0;
              font-size: 1.25rem;
              line-height: 1.6;
              color: #fafafa;
            }
            .network-wrapper {
              display: flex;
              justify-content: space-between;
              padding: 1.5rem;
              background-color: #524f5980;
              border: 1px solid #4a415d80;
              border-radius: 2rem;
              margin-top: 5rem;
              .icon-wrapper {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                p {
                  margin: 0;
                  font-size: 1rem;
                  line-height: normal;
                  color: #fafafa;
                }
                svg {
                  width: 1rem;
                  height: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.contest-hero-content {
  position: relative;
  text-align: left;
  max-width: 32rem;
  margin: auto;
  @media screen and (max-width: 991px) {
    text-align: center;
    margin: auto;
  }

  .contest-hero-content-img-left {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    @media screen and (max-width: 1030px) {
      width: auto;
      height: 16rem;
    }
    @media screen and (max-width: 520px) {
      width: auto;
      height: 13rem;
    }
  }

  .contest-hero-desc {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #fff;
    @media screen and (max-width: 991px) {
      text-align: center;
      font-size: 1rem;
    }
  }
  .knowmore-btn {
    border: 0.08rem solid #e2fe00;
    background-color: #06060a12;
    margin: 2.5rem 0 2rem;
    border-radius: 50rem;
    padding: 0.7rem 2.5rem;
    font-size: 1.3rem;
    color: #fff !important;
    @media screen and (max-width: 520px) {
      padding: 0.4rem 2.5rem;
    }
  }
}

.contest-hero-content-img-right {
  width: 100%;
  height: auto;

  @media screen and (max-width: 991px) {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
    max-width: 30rem;
  }
  @media screen and (max-width: 1030px) {
    margin-bottom: 4rem;
    max-width: 24rem;
  }
}

.blink_me {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  60% {
    opacity: 0.2;
  }
}

.pre-btn {
  // background-color: #009cde;
  // color: #fff !important;
  // border-radius: 50rem;
  // // padding-right: 3rem;
  // position: relative;
  // margin: 0 0.2rem;
  // // border: 1px solid #009cde;
  // border: 0.15rem solid white;
  outline: none !important;
  -webkit-animation: flickerAnimation 1.5s infinite;
  animation: flickerAnimation 1.5s infinite;
  // width: 9rem;
  // height: 2.3rem;
  // text-align: center;
  // font-size: larger;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  70% {
    transform: scale(1);
    opacity: 0.9;
  }

  100% {
    transform: scale(0.9);
    opacity: 1;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
    // background-color: #009cde;
    // border: 1px solid #009cde;
    color: #fff !important;
    transform: scale(0.9);
  }

  50% {
    opacity: 0.8;
    // background-color: #ff3e92;
    // border: 1px solid #ff3e92;
    color: #000 !important;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    // background-color: #009cde;
    // border: 1px solid #009cde;
    color: #fff !important;
    transform: scale(0.9);
  }
}
.btn-block {
  display: flex;
  margin: 3rem 0 0;
  // @media screen and (max-width: 430px) {
  //   flex-direction: column;
  // }

  .theme-btn {
    color: #fff;
    display: block;
    margin: 0 0.3rem 0;
    transition: 0.3s;
    position: relative;
    text-transform: capitalize;
    background: transparent linear-gradient(180deg, #ef9e5e 0%, #ec7c49 100%) 0%
      0% no-repeat padding-box;
    border: solid 1px transparent;
    border-radius: 50rem;
    font-family: $proxima-nova;
    font-weight: 600;
    padding: 0.6rem 2.5rem;
    font-size: 1.1rem;

    &:hover,
    &:focus,
    &:active {
      border: solid 1px #ec7c49;
      background: transparent;
      color: #ec7c49 !important;
    }
    @media screen and (max-width: 767px) {
      padding: 0.6rem 1.8rem;
      font-size: 1rem;
    }
    @media screen and (max-width: 430px) {
      margin-bottom: 1rem;
    }

    &.rounded-bordered {
      background: transparent !important;
      border: 0.1rem solid #ec7c49 !important;
      span {
        color: #ec7c49 !important;
      }
      &:hover,
      &:focus,
      &:active,
      &.active {
        border: solid 1px transparent;
        background: transparent
          linear-gradient(180deg, #ef9e5e 0%, #ec7c49 100%) 0% 0% no-repeat
          padding-box !important;
        span {
          color: #ffffff !important;
        }
        svg {
          fill: #ffffff !important;
        }
      }
      &.icon-btn {
        height: 2.3rem;
        width: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          height: 1.2rem;
          width: 1.2rem;
          color: #ec7c49;
        }
        &:hover,
        &:focus,
        &:active {
          svg {
            color: #ffffff;
          }
        }
      }
    }

    &:disabled {
      background: #ec7c49;
      color: #ffffff;
      border: none;
      opacity: 0.6;
    }
    span {
      position: relative;
      z-index: 2;
      white-space: nowrap;
    }
  }
}

.download-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  @media screen and (min-width: 360px) {
    bottom: 3rem;
  }
  @media screen and (min-width: 450px) {
    flex-direction: row;
    bottom: 4rem;
  }
  @media screen and (min-width: 768px) {
    bottom: 0;
  }
  @media screen and (min-width: 992px) {
    bottom: 1rem;
  }
  @media screen and (min-width: 1200px) {
    bottom: 2rem;
  }
  img {
    height: 3rem;
    width: auto;
  }
}

.theme-text-clr {
  color: #ef9e5e;
}

.jt-hero-section {
  .hero-carousel {
    .hero-banner-sec {
      &.callit-video-banner-sec,
      &.callit-bgImage-banner {
        .hero-content-box {
          .hero-main-heading,
          h2 {
            font-family: $nunito-sans-new;
            font-weight: 800;
            .sub-heading {
              font-family: $nunito-sans-new;
              font-weight: 800;
            }
          }
        }
      }

      &.callit-video-banner-sec {
        background-color: #000000 !important;
        @media screen and (min-width: 801px) and (max-width: 1030px) {
          align-items: flex-start;
        }
        &::before {
          background: unset !important;
          @media screen and (min-width: 801px) and (max-width: 1030px) {
            background: linear-gradient(77deg, black 0%, #00000000 98%);
          }
        }
        .hero-desc {
          padding-bottom: 0 !important;
        }
        .video-fixed {
          position: absolute;
          top: 0;
          left: auto;
          right: 4rem;
          bottom: 0;
          min-width: auto;
          min-height: 100%;
          width: 100%;
          height: 100%;
          z-index: 0;
          @media screen and (max-width: 800px) {
            top: 0;
            left: 0;
            right: 0;
            width: 26rem;
            margin: auto;
            margin-top: -4rem;
          }
          // @media screen and (max-width: 580px) {
          //   top: -10rem;
          //   left: auto;
          //   right: 7rem;
          //   width: 100%;
          // }
        }
        .hero-content-block {
          @media screen and (max-width: 800px) {
            min-height: unset;
            margin-top: 30rem;
          }
          @media screen and (min-width: 801px) and (max-width: 1030px) {
            // min-height: calc(100vh - 40rem);
            min-height: unset;
            margin-top: 0rem;
            max-width: 30rem;
          }
        }
      }
    }
  }
}

.text-white {
  color: #fff;
}

.bg-dark {
  background-color: #1c1c1c !important;
}

.badge-secondary {
  background-color: #6c757d;
}
