@import "../../styles/common";

.more-card {
  margin-right: 1rem;
  margin-bottom: 2rem;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-decoration: none;
  color: #000;

  &:hover {
    color: #000;
  }

  .nft-like-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 0.6rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.719);
    }
  }

  .nft-type-badge {
    color: #95ff8d;
    font-size: 0.7rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    max-width: 3.5rem;
    min-width: 3.5rem;
    padding: 0;
    box-shadow: none;
    z-index: 2;
    background: transparent;
    border: 0.05rem solid #95ff8d;
    font-family: $proxima-nova;
    font-weight: 600;
  }

  &:last-child {
    margin-right: 0;
  }

  overflow: hidden;

  img {
    min-width: 100%;
    width: 100%;
    // max-height: 26rem;
    object-fit: contain;
    margin-bottom: 1rem;
    object-position: top;
    border-radius: 0.5rem 0.5rem 0 0;
    height: auto;
    // @media screen and (max-width: 991px) {
    //   height: 20rem;
    // }
  }

  .top-content-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .more-nft-title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .more-nft-title-box {
        width: calc(100% - 4rem);

        .more-nft-name {
          font-size: 1.3rem;
          font-family: $proxima-nova;
          font-weight: 600;
          display: block;
          @include text-ellipsis;
        }
        .right-content {
          width: calc(100% - 8rem);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .left-count {
          // position: absolute;
          color: #f21e00;
          right: 0;
          font-family: $proxima-nova;
          font-weight: 800;
          font-size: 1rem;
          top: 0.5em;
          width: 8rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
    .more-nft-info-header {
      .more-nft-ownername-info {
        display: flex;
      }
    }
    .more-nft-desc {
      font-size: 1rem;
      font-family: $proxima-nova;
      font-weight: 600;
      margin-bottom: 0rem;
      font-size: 0.9rem;
    }
    .nft-signature {
      background: linear-gradient(180deg, #ef9e5e 0%, #ec7c49 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $proxima-nova;
      font-weight: 600;
      margin-bottom: 0;
      span {
        font-family: $proxima-nova;
        font-weight: 400;
        font-size: 0.9rem;
      }
    }
  }

  .more-bid-details {
    display: flex;
    justify-content: space-between;

    .mb-title {
      font-size: 1rem;
      font-family: $proxima-nova;
      font-weight: 600;
      white-space: nowrap;
      color: #c2c2c2cc !important;
    }

    .mb-value {
      font-size: 1.2rem;
      font-family: $proxima-nova;
      font-weight: 800;
    }
  }

  // &:hover {
  //   opacity: 0.85;
  // }
}

.font-onerem {
  font-size: 1.3rem !important;
}

// .time-counter-box {
//   position: absolute;
//   left: 1rem;
//   right: initial;
//   padding: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   box-shadow: none;
//   border-radius: 0.4rem;
//   color: #fff;
//   top: -5.7rem;
//   flex-direction: row;
//   background: #7e0000;
//   z-index: 1;
//   .time-counter-card {
//     display: flex;
//     align-items: flex-start;
//     justify-content: center;
//     flex-direction: column;
//     position: relative;
//     z-index: 1;
//     color: #fff;
//     padding: 0.5rem 1rem;
//     background: #7e0000;
//     border: 0.1rem solid #ff5858;
//     border-radius: 0.4rem;
//     &.startsin {
//       background: #1f6a19;
//       border: 0.1rem solid #55b14e;
//     }
//     span.fire-icon {
//       color: #ff7600;
//       font-size: 1.2rem;
//       animation: blinker 1s linear infinite;
//     }
//   }
//   img {
//     height: 2rem;
//     margin: 0;
//     width: auto !important;
//     min-width: unset !important;
//     margin-right: 0.5rem;
//   }
// }

.time-counter-box {
  position: absolute;
  left: 1rem;
  right: initial;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
  border-radius: 0.4rem;
  color: #fff;
  top: -5.7rem;
  flex-direction: row;
  background: #8e1d15;
  z-index: 1;
  .time-counter-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 0.5rem 1rem;
    background: #8e1d15;
    border: 0.1rem solid #ff5858;
    border-radius: 0.4rem;
    &.startsin {
      background: #1f6a19;
      border: 0.1rem solid #55b14e;
      .time-title {
        background: #0f2f0c;
        border: 0.05rem solid #55b14e;
      }
    }
    span.fire-icon {
      color: #ff7600;
      font-size: 1.2rem;
      animation: blinker 1s linear infinite;
    }
    .time-title {
      line-height: 1;
      font-size: 0.9rem;
      position: absolute;
      top: calc(100% - 0.5rem);
      right: 0.5rem;
      background: #6b1f1a;
      padding: 0.2rem 0.8rem;
      border-radius: 0.3rem;
      border: 0.05rem solid #ff5858;
    }
  }
  img {
    height: 2rem;
    margin: 0;
    width: auto !important;
    min-width: unset !important;
    margin-right: 0.5rem;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.more-card.jt-card {
  padding: 0.2rem;
  position: relative;
  border-radius: 0.5rem;
  transition: 0.5s;
  background: #212031;
  // height: calc(100% - 2rem);
  height: calc(100% - 0rem);
  margin: 0rem 0 1.5rem !important;
  box-shadow: 0.2rem 0.2rem 1.1rem #0e0e1c85, -0.2rem -0.2rem 1.1rem #35354585;
  @media screen and (min-width: 991px) {
    &:hover {
      transform: translateY(-10px);
      transition: 0.5s;
    }
  }
  .player_stats {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 4;
    border: none;
    border-radius: 50rem;
    background: #000000 0% 0% no-repeat padding-box;
    border: 0.18rem solid #3b3b3b;
    border: 0.1rem solid #894208bf;
    .player-type {
      padding: 0.6rem 0.4rem;
      border-bottom: 0.1rem solid #894208bf;
      img {
        display: flex;
        max-height: unset !important;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
        padding: 0.4rem;
        min-width: 3rem;
        min-height: 3rem;
        background: #2f2f2f;
        width: 3rem;
        height: 3rem;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 50rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .bat-type-2x {
      padding: 0.6rem 0.4rem;
      border-bottom: 0.1rem solid #894208bf;
      img {
        display: flex;
        max-height: unset !important;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: center;
        object-position: center;
        // padding: 0.4rem;
        min-width: 3rem;
        min-height: 3rem;
        background: #211c1c;
        width: 3rem;
        height: 3rem;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 50rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .player-range {
      padding: 0.6rem 0.4rem;
      // border-bottom: 0.1rem solid #fff;
      .band {
        font-size: 1rem;
        padding: 0.1rem 0rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $proxima-nova;
        font-weight: 600;
        letter-spacing: 0.08rem;
        line-height: 1.3;
        border-radius: 15px;
        // background: #803cef;
        background: transparent !important;
        color: #fff !important;
        margin: 0;
        font-size: 1.1rem;
      }
      &.yearshow {
        text-align: center;
        .year {
          font-size: 1rem;
          background: transparent !important;
          color: #f2f2f2 !important;
        }
      }
    }
    .player-level {
      padding: 0.6rem 0.4rem;
      img {
        display: flex;
        max-width: 3rem;
        max-height: unset !important;
        object-fit: contain;
        object-position: center;
        padding: 0.2rem;
        width: 100%;
        height: 3rem;
        margin-bottom: 0;
      }
      h6 {
        font-size: 1rem;
        font-family: $proxima-nova;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.08rem;
        text-align: center;
        margin-bottom: 0;
        color: #fff;
      }
    }
  }
  img {
    position: relative;
    z-index: 1;
  }
  .top-content-title {
    position: relative;
    padding: 1rem;
    .more-nft-title {
      color: #e2e2e2;
      font-family: $proxima-nova;
      font-weight: 600;
      letter-spacing: 0.08rem;
    }
    .more-nft-desc {
      color: #ffffff99;
      font-family: $proxima-nova;
      font-weight: 400;
      letter-spacing: 0.08rem;
      white-space: nowrap;
      max-width: calc(100% - 5rem);
      margin-right: 0.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.9rem;
    }
    .nft-signature {
      background: linear-gradient(180deg, #ef9e5e 0%, #ec7c49 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: $proxima-nova;
      font-weight: 600;
      margin-bottom: 0;
      span {
        font-family: $proxima-nova;
        font-weight: 400;
        font-size: 0.9rem;
      }
    }
    .heart_box {
      position: absolute;
      z-index: 2;
      height: 3rem;
      width: 3rem;
      border-radius: 50rem;
      right: 1rem;
      top: -3rem;
      .svg_size {
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        border: 0.1rem solid #fff;
        color: #fff !important;
        margin-bottom: 0.5rem;
        border-radius: 50rem;
        cursor: pointer;
        background-size: 1.4rem;
        background-position: center;
        background-repeat: no-repeat;

        &.heart_icon {
          border: 0.1rem solid #e8318d;
          box-shadow: inset 0px 0px 20px #e8318d !important;
          background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jump/jump-trade/heart_ico.png");
        }
        &.filled_heart_icon {
          border: 0.1rem solid #e8318d;
          box-shadow: inset 0px 0px 20px #e8318d !important;
          background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jump/jump-trade/heart-filled.png");
        }
      }
    }

    .cart_box {
      position: relative;
      z-index: 2;
      height: 3rem;
      width: 3rem;
      border-radius: 50rem;
      right: unset;
      top: unset;
      color: #fff;
      display: block;
      margin: 0 0.3rem 0;
      padding: 0.3rem 1rem;
      transition: 0.3s;
      text-transform: uppercase;
      font-size: 0.9rem;
      overflow: hidden;
      cursor: pointer;
      background: #000000;
      .cart_text {
        width: 0;
        overflow: hidden;
        display: inline-flex;
        position: relative;
        text-align: right;
        display: flex;
        padding: 0.5rem;
        padding-left: 2rem;
        font-family: $proxima-nova;
        font-weight: 700;
        visibility: hidden;
        transition: 0.3s all ease;
        white-space: nowrap;
        color: #ffffff;
      }

      .svg_size {
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 50rem;
        background-size: 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        &.cart_icon {
          background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jump/jump-trade/cart_icon.png");
        }
      }

      &.add_cart {
        background: #ef9d5d;
        &::before {
          background: #ef9d5d;
        }
        .svg_size {
          filter: invert(1);
          &.cart_icon {
            background-image: url("https://cdn.guardianlink.io/product-hotspot/images/jump/jump-trade/cart_icon.png");
          }
        }
      }
    }
  }

  .more-bid-details {
    margin-top: 0.5rem;
    border-top: 0.5px solid #4f4f4f;
    padding-top: 1rem;
    .mb-title {
      font-family: $proxima-nova;
      font-weight: 400;
      font-size: 0.9rem;
      letter-spacing: 0.08rem;
      color: #c2c2c2cc !important;
    }
    .mb-value {
      color: #fff;
      font-family: $proxima-nova;
      font-weight: 600;
      font-size: 1rem;
    }
  }
  .empty-space {
    margin-top: 0.5rem;
    border-top: 0.5px solid #4f4f4f;
    padding-top: 1rem;
    min-height: 4rem;
    text-align: center;
    font-size: 1.3rem;
    color: #ffffff99;
  }

  .nft-type-badge {
    color: #95ff8d;
    font-size: 0.7rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    max-width: 3.5rem;
    min-width: 3.5rem;
    padding: 0;
    box-shadow: none;
    z-index: 2;
    background: transparent;
    border: 0.05rem solid #95ff8d;
    font-family: $proxima-nova;
    font-weight: 600;
  }

  .nft-type-badge-rank {
    position: absolute;
    top: 1rem;
    left: 1.3rem;
    right: initial;
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 6rem;
    padding: 0.1rem 0.5rem;
    font-family: $proxima-nova;
    font-weight: 600;
    box-shadow: none;
    z-index: 2;

    .rank-title {
      font-size: 0.9rem;
      text-transform: capitalize;
      font-family: $proxima-nova;
      font-weight: 600;
      margin-right: 0;
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.2rem;
      }
      // background: linear-gradient(
      //   180deg,
      //   #e2ff00 0%,
      //   #18e0e0 52.6%,
      //   #e8318d 100%
      // );
      // -webkit-background-clip: text;
      // background-clip: text;
      // -webkit-text-fill-color: transparent;
    }
  }

  // .time-counter-box {
  //   position: absolute;
  //   left: 1rem;
  //   right: initial;
  //   padding: 0;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   box-shadow: none;
  //   border-radius: 0.4rem;
  //   color: #fff;
  //   top: -5.7rem;
  //   flex-direction: row;
  //   background: #7e0000;
  //   z-index: 1;
  //   .time-counter-card {
  //     display: flex;
  //     align-items: flex-start;
  //     justify-content: center;
  //     flex-direction: column;
  //     position: relative;
  //     z-index: 1;
  //     color: #fff;
  //     padding: 0.5rem 1rem;
  //     background: #7e0000;
  //     border: 0.1rem solid #ff5858;
  //     border-radius: 0.4rem;
  //     &.startsin {
  //       background: #1f6a19;
  //       border: 0.1rem solid #55b14e;
  //     }

  //     span.time-title,
  //     .nft-counter {
  //       line-height: 1;
  //     }
  //   }
  // }

  &.mini-card {
    height: auto;
    .player_stats {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 4;
      border: none;
      border-radius: 50rem;
      background: #000000 0% 0% no-repeat padding-box;
      border: 0.18rem solid #3b3b3b;
      .player-type {
        padding: 0.6rem 0.4rem;
        border-bottom: 0.1rem solid #3b3b3b;
        img {
          display: flex;
          max-height: unset !important;
          -o-object-fit: contain;
          object-fit: contain;
          -o-object-position: center;
          object-position: center;
          padding: 0.4rem;
          min-width: 2.3rem;
          min-height: 2.3rem;
          background: #2f2f2f;
          width: 2.3rem;
          height: 2.3rem;
          margin-top: 0;
          margin-bottom: 0;
          border-radius: 50rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .player-range {
        padding: 0.6rem 0.4rem;
        // border-bottom: 0.1rem solid #fff;
        .band {
          font-size: 1rem;
          padding: 0.1rem 0rem;
          margin-bottom: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: $proxima-nova;
          font-weight: 600;
          letter-spacing: 0.08rem;
          line-height: 1.3;
          border-radius: 15px;
          // background: #803cef;
          background: transparent !important;
          color: #fff !important;
          margin: 0;
          font-size: 1rem;
        }
        &.yearshow {
          text-align: center;
          .year {
            font-size: 1rem;
            background: transparent !important;
            color: #f2f2f2 !important;
          }
        }
      }
      .player-level {
        padding: 0.6rem 0.4rem;
        img {
          display: flex;
          max-width: 2rem;
          max-height: unset !important;
          object-fit: contain;
          object-position: center;
          padding: 0.2rem;
          width: 100%;
          height: 2rem;
          margin-bottom: 0;
        }
        h6 {
          font-size: 0.8rem;
          font-family: $proxima-nova;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.08rem;
          text-align: center;
          margin-bottom: 0;
          color: #fff;
        }
      }
    }
    .empty-space {
      font-size: 1.1rem;
    }
    // .top-content-title .cart_box {
    //   width: 2.5rem;
    //   height: 2.5rem;
    //   top: -2.5rem;
    //   font-size: 0.7rem;
    //   &:hover {
    //     width: 8.5rem;
    //   }
    // }
    // .top-content-title .cart_box .svg_size {
    //   height: 2.5rem;
    //   width: 2.5rem;
    //   background-size: 1.2rem;
    // }
    .top-content-title .cart_box .cart_text {
      padding: 0.4rem;
      padding-left: 1.5rem;
      width: 7.5rem;
    }
    .top-content-title .nft-signature {
      font-size: 0.9rem;
    }
    .top-content-title .more-nft-desc {
      font-size: 0.8rem;
    }
    .top-content-title .more-nft-title .more-nft-name {
      font-size: 1rem;
    }
    .nft-type-badge {
      font-size: 0.6rem;
      height: 1.2rem;
      max-width: 3rem;
      min-width: 3rem;
    }
    &.nft-images {
      background: transparent;
      margin: 0 !important;
      box-shadow: none;
      img {
        border-radius: 0.5rem !important;
      }
    }
  }
}
.swipper-item {
  margin-top: 8rem;
  margin-bottom: 3rem;
  transform: scale(0.8) !important;
  transition: 0.5s all ease;
}
