/* Footer.module.css */

.footer {
  background-color: #121212; /* Dark background similar to your screenshot */
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer .image-container,
.footer .image-link {
  height: 26px;
}

.footer .image-container {
  width: 44%;
}

.footer .image-link {
  width: 68%;
}

.footer .divider {
  font-size: 16px;
  color: #6c757d; /* Similar to Bootstrap's text-muted */
}

.footer .copyright {
  font-size: 13px;
  color: #b5b5b5;
}

.footer .nodess {
  color: #5e72e4; /* Primary color for "NODESS" */
}
